<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
    	{{ block "title" . }}
        	{{ .Site.Title }}
      	{{ end }}
    </title>
   	<!-- note the format used for the href attr., lets us accurately reference resources from wherever this template will get used! -->
    <link type="text/css" rel="stylesheet" href="{{ "/css/style.css" | relURL }}">
		<link type="text/css" rel="stylesheet" href="{{ "/css/resp.css" | relURL }}">
		<link type="text/css" rel="stylesheet" href="{{ "/css/projectpanel.css" | relURL }}">
		<link href="https://fonts.googleapis.com/css?family=Nunito|Open Sans|Montserrat" rel="stylesheet">
		<!-- jQuery -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="{{ "/js/scroll.js" | relURL }}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	{{ partial "navbar" . }}
    <div class="col-main">
		<div class="hero_unit" style="height: 500px;"></div>
    	{{ block "col-main-content" . }}
		{{ end }}
		<!-- no side bar -->
    </div>
</body>
</html>