{{ define "title" }}
  	{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "col-main-content" }}
	<div class="blogpost">
		<div class="blogpost_head">
			<div class="blogpost_head-date">
				<h1>{{ .Date.Format "Jan 2 2006" }}</h1>
			</div>
			<div class="blogpost_head-title">
				<h1>{{ .Title }}</h1>
			</div>
		</div>
		<div class="blogpost_body">
			<p>{{ .Content }}</p>
			<a class="blogpost_body-more" href="{{ .Site.BaseURL }}">Return home</a>
		</div>
		{{ if isset .Params "tags" }}
		<div class="blogpost_foot">
			<div class="blogpost_foot">
				<div class="blogpost_foot-tag-name">
					<p>Tags:</p>
				</div>
				<div class="blogpost_foot-tag-list">
					<ul>
						{{ range $key, $val := .Params.tags }}
							<li>
								<a href="{{ "/tags/" | relLangURL }}{{ $val | urlize }}">{{ . }}</a>
							</li>
						{{ end }}
					</ul>
				</div>
			</div>	
		</div>
		{{ end }}
	</div>
{{ end }}