<div class="blogpanel">
	<div class="blogpanel_head">
		<div class="blogpanel_head-date">
			<h1>{{ .Date.Format "January 2 2006" }}</h1>
		</div>
		<div class="blogpanel_head-title">
			<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
		</div>
	</div>
	<div class="blogpanel_body">
		<p>{{ .Summary }}</p>
		{{ if .Truncated }}				
			<a class="blogpanel_body-more"  href="{{ .Permalink }}">Read more →</a>
		{{ end }}
	</div>
	{{ if isset .Params "tags" }}
	<div class="blogpanel_foot">
		<div class="blogpanel_foot">
			<div class="blogpanel_foot-tag-name">
				<p>Tags:</p>
			</div>
			<div class="blogpanel_foot-tag-list">
				<ul>
					{{ range $key, $val := .Params.tags }}
						<li>
							<a href="{{ "/tags/" | relLangURL }}{{ $val | urlize }}">{{ . }}</a>
						</li>
					{{ end }}
				</ul>
			</div>
		</div>	
	</div>
	{{ end }}
</div>		