<!-- note the format used for the href attr., lets us accurately reference resources from wherever this template will get used! -->
<link type="text/css" rel="stylesheet" href="{{ "/css/style.css" | relURL }}">
<link type="text/css" rel="stylesheet" href="{{ "/css/blogpanel.css" | relURL }}">
<link type="text/css" rel="stylesheet" href="{{ "/css/projectpanel.css" | relURL }}">
<link type="text/css" rel="stylesheet" href="{{ "/css/resp.css" | relURL }}">
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito|Roboto|Montserrat">